p{
    font-size: 20px;
    /* direction: rtl;  */
    color: red; 
    background-color: yellow;    
    font-style: italic; 
    /* letter-spacing: 0.2rem;
     word-spacing: 10px;
    line-height: 50px; */
    /* text-align: left;      */
    /* text-decoration: underline; */
   /* text-decoration: overline line-through;  */
    text-indent: 50px;
    /* text-shadow: 2px 2px 0 red;  */
    /* text-shadow: 2px 2px 5px red; */
    /* text-shadow: -10px 4px 0px red; */
    text-transform: capitalize;    

}    